<<<<<<< HEAD
@font-face {
    font-family: lakeshore;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root{
    --thumbnails-img-width: 20vw;
    --thumbnails-img-heigth: 15vw;
    --thumbnails-title-heigth: calc(var(--thumbnails-img-heigth)*0.33);
}
body,html {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color:azure;
    margin: 0;
=======
body {
   display: flex; 
   flex-direction: column;
   background-color: azure;
>>>>>>> d0272de1094c762b933397861b1b17330e4d3bd2
}
.logo  {
font-size: 2em;
background-color: bisque;
display: block;
text-align: center;
<<<<<<< HEAD
font-family: lakeshore;
text-transform: uppercase;
=======

>>>>>>> d0272de1094c762b933397861b1b17330e4d3bd2
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
   align-items: center;
   /*margin-top: 2.5vh;*/
   margin-bottom: 10vh;
}
.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
} 
=======
    align-items: center;
    margin-top: 2.5vh;

}
.details-image {
    width: 70vw;
    height: 60vw;
    border-radius: 25%;
}
>>>>>>> d0272de1094c762b933397861b1b17330e4d3bd2
.details-title {
display: block;

}
.thumbnails-list {
list-style: none;
<<<<<<< HEAD
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow: auto;
justify-content: space-around;
padding: 0;
}
.thumbnails-item {
 max-width: var(--thumbnails-img-width);
 min-height: calc(var(--thumbnails-img-heigth)+var(--thumbnails-title-heigth)) ;
 margin-top: 2.5vh;
 border:solid 1px blue;
 border-radius: 25%;
 overflow: hidden;
 }
.thumbnails-image {
width: var(--thumbnails-img-width);
height: var(--thumbnails-img-heigth);
display: block;
=======
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;
}
.thumbnails-item {
width: 20vw;
height: 20vw;
margin-top: 2.5vh;
border: solid 1px black;
border-radius: 25%;
overflow: hidden;
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
    display: block;
>>>>>>> d0272de1094c762b933397861b1b17330e4d3bd2
}
.thumbnails-title {
    display: block; 
    text-align: center;
    height: 5vw;
<<<<<<< HEAD
   background-color: beige;
}
.thumbnails-anchor {
    text-decoration: none;
}
@media (min-width: 560px) {
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;
    }
        .main-class {
            flex-direction: row;
            justify-content: space-around;
        }
      .details-image{
        width: 40vw;
        height: 30vw;
      }
       
=======
    background-color: beige;
}
.thumbnails-anchor {
   text-decoration: none;
>>>>>>> d0272de1094c762b933397861b1b17330e4d3bd2
}

